[Desktop Entry]
Name=GDM3 Settings
Name[de_DE]=Einstellungen der GDM3
Name[es_ES]=Configuratión de GDM3
Name[fr]=Paramètres de GDM3
Name[it]=Impostazioni di GNOME Display Manager 3
Name[pt_BR]=Configurações do Gnome Display Manager 3
Name[zh_CN]=GDM3设置工具
Name[zh_TW]=GDM3 設定
Comment=Change GDM3 settings
Comment[de_DE]=Einstellungen ändern für GDM3
Comment[es_ES]=Cambiar la configuración de GDM3
Comment[fr]=Modifier les paramètres de GDM3
Comment[it]=Modifica le impostazioni di GNOME Display Manager 3
Comment[pt_BR]=Mudar as configurações de GNOME Display Manager 3
Comment[zh_CN]=更改GDM3设置
Comment[zh_TW]=更改 GDM3 設定
Exec=gdm3setup
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;
OnlyShowIn=GNOME;Unity;


